{% extends 'main.html' %}

{% block content %}

<h1>Projects Template</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi labore magni aspernatur, vero voluptas repellendus ut?
    Aspernatur corporis molestiae placeat?</p>

<ul>
    {% for project in projects %}
    <li>ID: <a href="{% url 'project' project.id %}">{{project.id}}</a> Name: {{project.title}} Votes:
        {{project.vote_total}} Positive Votes: {{project.vote_ratio}}% <a
            href="{% url 'update-project' project.id %}">Edit</a> <a
            href="{% url 'delete-project' project.id %}">Delete</a></li>
    {% endfor %}
</ul>

{% endblock content %}